/*General Rules*/
*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/*Main Container*/
div.container-fluid{
    max-width: 820px;
    /*position: relative;
    width: 100vw;
    height: 40vw;
    margin: auto auto;
    */
    transition: all 1.s ease-in-out;
    -webkit-transition: all 1.s ease-in-out;
    -moz-transition: all 1.s ease-in-out;
    -ms-transition: all 1.s ease-in-out;
    -o-transition: all 1.s ease-in-out;
    /*overflow: hidden;
    */font-size: 1.2vw;
    margin-top: 40px;
}
/*top Row Styling*/
.top-row{
    height: 5vw;
    padding-top: 10px;
    padding-bottom: 1.5vw;
}
.side-heading{
    /* width: 70%;
    display: inline-block; */
    font-size: calc(10% + 1vw + 0.7vh);
}
.top-btn{
    width: 5%;
    height: 40px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    color: white;
    border: 3px solid rgb(11, 150, 185);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    /*margin-top: -5vw;>>>>>>>>>>>>>>>>>>>handle with media query*/
    box-shadow: 0px -2px 1px 1px #0B7691;
    
}
.top-btn:first-of-type{
    background: url('../assets/svg/card-image.svg') no-repeat center;
    background-size:cover;
    background-color: rgb(15,160,197);
    padding: 10px;
}
.top-btn:nth-child(3){
    background: url('../assets/svg/question.svg') no-repeat center;
    background-size:cover;
    background-color: rgb(15,160,197);
    padding: 10px;
}
.top-btn:focus{
    outline: transparent;
}

/*middle row*/
.middle-row{
    height: 36vw;
    border-top: 5px white solid;
    background-color: rgb(15,160,197);
}
/*Question container > mid row*/
.question-container{
    border: 3px solid rgb(245,130,31);
    /* background: url(../assets/imgs/problem-img.png) center no-repeat;
    background-size: cover; */
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    height: 105%;
    width: 96%;
    margin: auto auto;
    margin-top: -10px;
    background-color: rgb(255,255,255);
    padding-top: 2vw;
}
.option{
    border: 2px solid rgb(15,160,197);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    height: auto;
    width: fit-content;
    margin-right: 0.2vw;
    font-size: 1.8vw;
    font-weight: bold;
    padding:15px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    cursor: pointer;
    z-index: 2;
}
.selected-option{
    color: white;
    background-color: rgb(15,160,197);
}
.answer-box{
    border: 1px solid black;
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: -10px;
    height: 100%;
    z-index: 3;
}
.hide-answer{
    visibility: hidden;
}
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 53%;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 53%;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.answer-place{
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    width: 30%;
    height: 20%;
    margin-top: 10px;
    padding: 10px;
    line-height: 2em;
    cursor: pointer;
}
/*bottom-row*/
.bottom-row{
    height: 20%;
    min-height: 6vw;
    background-color: rgb(222,236,246);
}
.bot-btn{
    height: auto;
    margin-top: 1.5vw;
    width: 4vw;
    margin-bottom: 1vw;
    padding: 20px;
    color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
#reset{
    background: url(../assets/svg/arrow-repeat.svg) no-repeat center;
    background-size: cover;
    border: 2px solid rgb(15,160,197);
    background-color: rgb(15,160,197);
}
#show-answer{
    background: url(../assets/svg/eye.svg) no-repeat center;
    background-size: cover;
    background-color: rgba(151, 204, 65,1);
}